.side-panel-item
{
	list-style-type: none;
}

.category-tile img
{
	height: 200px;
	width: 200px;
	display: block;
}

#side-panel
{
 width: 15em;
 height: 100%;
 display: inline-block;
}

#content
{
	display: inline-block;
}